@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #000000;
    color: #FFFFFF
  }

  body, input, textarea, button {   
    font-family: Sora, sans-serif
  }
}